pydantic>=2.0.0
pandas
numpy
yfinance
feedparser
scikit-learn==1.6.1
pyarrow
hmmlearn
arch
requests
google-generativeai
google-genai
joblib
matplotlib
seaborn
jupyter
fastapi
uvicorn
apscheduler
aiofiles
websockets
