--extra-index-url https://download.pytorch.org/whl/cpu

pydantic>=2.0.0
pandas
numpy
yfinance
feedparser
scikit-learn==1.6.1
pyarrow
hmmlearn
arch
requests
google-generativeai
google-genai
joblib
matplotlib
seaborn
jupyter
fastapi
uvicorn
apscheduler
aiofiles
websockets

stable-baselines3>=2.0.0
gymnasium>=0.29.0
shimmy>=1.0.0
